.example-fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar {
  margin-bottom: 30px;
}

.content {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

button {
  mat-icon {
    margin-right: .5rem;
  }
}
.example-full-width {
  width: 230px;

  mat-icon {
    margin-right: .5rem;
  }
}