.sets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__date {
    font-size: 1rem;
  }

  .card {
    width: 25%;
    margin: .75rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
      0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    transition: all 0.35s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.15);
    }

    &__img {
      text-align: center;
      height: 140px;
      padding-top: 15px;
      align-items: center;
      justify-content: center;
      display: flex;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__content {
      display: flex;
      align-items: flex-start;
      padding: 1.5rem;
      padding-bottom: 0;

      &--symbol {
        height: 48px;
        width: 48px;
        margin: 0;
        margin-right: .5rem;

        img {
          max-height: 100%;
          display: block;
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
